.leaflet-sbs-range {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 999;
}
.leaflet-sbs-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    background-color: #fff;
    pointer-events: none;
    z-index: 999;
}

p{
    font-size: 120%;
}

h1{
    font-size: 150%;

}

body {

    Font-Family: 'Lora', Serif;

}

h1, h2, h3, h4, h5, h6 {
    Font-Family: 'Roboto', Sans-Serif;


}


.jumbotron{
    background: url("forest.jpg") no-repeat center center;
    background-size: 100% ;
    color: white;
}

